html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron {
    padding-top: 45px;
    background-color: #ccc;
    min-height: 550px;
    background-image: url(../img/cover.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0px;
    color: #eaeaea;
    overflow: hidden;
}

.jumbotron img {
    border: 2px solid white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron p {
    font-weight: 500;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron .scrolling {
    margin-top: 50px;
}

.about hr,
.portofolio hr,
.contact hr {
    width: 250px;
}

.about p {
    text-align: justify;
}

.kiri,
.kanan {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1.2s;
}

.kanan {
    transform: translate(50px, 0);
}

.kiri-go,
.kanan-go {
    opacity: 1;
    transform: translate(0, 0);
}


.portofolio {
    background-color: #eee;
    padding-bottom: 50px;
}

.portofolio .img-thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.portofolio .img-thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

section {
    min-height: 600px;
    padding-top: 80px;
}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #333;
}

footer p {
    color: white;
    padding-top: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: salmon;
}